<h1>Sample App</h1>
<p>
  This is the home page for DiscoEvents 
</p>

<%= link_to "Events", index_path, :class => 'btn btn-default' %>
<%= link_to "New Event", new_event_path, :class => 'btn btn-default' %>

